
<div class="Brand">
  <h2>Aliados Estratégicos</h2>
  
  <div class="Brand__logos">
    <img src="./logo.svg" alt="logo">
    <img src="./cicadelogo.svg" alt="logo">
    <img src="./logoutbc (1).svg" alt="logo">
  </div>
</div>


<style>
.Brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Brand img{
  width: 250px;
}

.Brand h2 {
  padding: 3vh 6.8vw;
}

.Brand__logos {
  display: flex;
  padding: 5vh 6.8vw;
  width: 100%;
  justify-content: space-evenly;
}

@media (max-width: 750px) {
  .Brand__logos {
    flex-direction: column;
    align-items: center;
  }
}

</style>