<div class="Contact">
  <h2>Contacto</h2>
  <p>para cualquier informacion contactenos en <span>info@canacintrariobravo.com</span>
      <br>siguenos en redes sociales <a href="#">Facebook</a>.
  </p>
</div>

<style>
.Contact {
  display: flex;
  padding: 10vh 6.8vw;
  justify-content: space-between;
}
.Contact h2 {
  font-size: 36px;
}
</style>