<div class="Contact">
  <h2>Contacto</h2>
  <p>Para cualquier información contáctenos en <span>Cicadeinternacional@gmail.com</span>
     
  </p>
</div>

<style>
.Contact {
  display: flex;
  padding: 10vh 6.8vw;
  justify-content: space-between;
}
.Contact h2 {
  font-size: 36px;
}
@media (max-width: 750px) {
  .Contact {
    flex-direction: column;
    gap: 5vh;
  }
}

</style>