<div class="Footer">
  <div class="Footer__Brand">
    <img src="logo-footer.svg" alt="">
  </div>
  <div>
    <p>Copyright 2023 by CANACINTRA RIO BRAVO. All Rights Reserved.</p>
  </div>
</div>

<style>
  .Footer {
    background-color: #191E29;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 5vh 6.8vw;
    align-items: center;
    width: 100%;
  }
  .Footer__Brand {
    border-bottom: 1px solid gray;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    padding: 2vh 1vw;
}
</style>