.form {
  display: flex;
  justify-content: center;
  padding: 10vh 6.8vw;
}

form {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

input {
  padding: 20px 30px;
  border-radius: 50px;
  margin-bottom: 10px;
  font-size: 18px;
  border: 3px solid rgb(195, 195, 195);
}

textarea {
  border-radius: 30px;
  border: 3px solid rgb(195, 195, 195);
  padding: 20px 30px;
  font-size: 18px;
  margin-bottom: 10px;
}

div > form > button {
  background-color: #D0142B;
  border: none;
  border-radius: 50px;
  font-size: 24px;
  color: white;
  padding: 20px 30px;
  cursor: pointer;
}
div > form > button:hover {
  background-color: #b3182a;
}