.Hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0vw auto;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Hero h1 {
  margin-top: 2%;
  color: white;
  font-size: 36px;
  font-weight: 500;
}

.Hero p {
  color: white;
  margin-top: 10px;
  font-size: 24px;
}

.Hero img {
  animation: mymove 5s;
  animation-iteration-count: infinite;
}

@keyframes mymove {
  0% {scale: 1;}
  50% {scale: 1.1;}
  100% {scale: 1;
  rotate:360deg;
  }
}

@media (max-width: 1135px) {
  .Hero h1 {
    text-align:center;
  }
}