.Navbar {
  display: flex;
  justify-content: space-between;
  height: 65px;
  align-items: center;
  padding: 0px 6.8vw;
  width: 100%;
  background-color: white;
  position: fixed;
  box-shadow: 1px 2px 21px -2px rgba(0,0,0,0.15);
-webkit-box-shadow: 1px 2px 21px -2px rgba(0,0,0,0.15);
-moz-box-shadow: 1px 2px 21px -2px rgba(0,0,0,0.15);
z-index: 100;
}

.Navbar__Links {
  display: flex;
  align-items: center;
}


.logo {
 width: 222px;
 height: 41px;
}

.Navbar__Links a {
  margin-left: 32px;
  text-decoration: none;
  color: #151F3D;
  font-weight: 500;
}

.Navbar__Links a:hover {
  color:#D0142B;
}

.Navbar__button {
  display: flex;
  align-items: center;
  
}

.Navbar__button a {
  margin-right: 32px;
  text-decoration: none;
  color: #151F3D;
  font-weight: 500;
}
.Navbar__button a:hover {
  color:#D0142B;
}

.Navbar__button button {
  margin-right: 0px;
}

.button_primary{
  background-color: #191E29;
  color: white;
  border: none;
  height: 35px;
  width: 125px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 50px;
  cursor: pointer;
}
.button_primary:hover {
  background-color: #b3182a;
}


.button_action {
  background-color: transparent;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  padding: 10px 12px;
  
}

.button_action:hover {
  background-color: rgb(226, 226, 226);
}

.menu-flotante {
  background-color: white;
  height: 10vh;
  width: 15vw;
  position: absolute;
  right: 6.5vw;
  top: 6vh;
  border-radius: 10px;
  box-shadow: 1px 2px 21px -2px rgba(0,0,0,0.15);
  -webkit-box-shadow: 1px 2px 21px -2px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 2px 21px -2px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu__visible{
  display: flex;
  flex-direction: column;
  gap:15px;
}

.menu_visible_button {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
}

.menu_visible_button:hover {
  color:#b3182a;
}

#plataformaIcon {
  width: 20px;
  margin-right: 10px;
}


@media (max-width: 1135px) {
  .Navbar {
    display: none;;
  }
}



.menu-investigaciones {
  position: absolute; /* O relative, dependiendo de tu diseño */
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  list-style-type: none; /* Elimina viñetas */
  padding: 0;
  margin: 0;
}

.menu-investigaciones li {
  padding: 10px;
}

.investigacion_link {
  text-decoration: none;
  color: black; /* Cambia el color del texto según sea necesario */
}

.investigacion_link:hover {
  background-color: #f1f1f1; /* Cambia el color de fondo al pasar el mouse */
}

.button_investigaciones {
  background-color: transparent;
  border: none;
  margin-left: 32px;
  text-decoration: none;
  color: #151F3D;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}


.button_investigaciones :hover {
  color:#D0142B;
}

body > astro-island:nth-child(3) > div > div.Navbar__Links > div > ul > li > a {
  margin-left: 0;
}

.menu-investigaciones li {
  padding: 10px;
  position: absolute;
  left: 20px;
  width: 150px;
  background-color: #fffF;
  display: flex;
  justify-content: center;
}