
<div class="Testimonials">

  <div class="Testimonial__Card">
    <h3>"</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    <img src="logo.svg" alt="">
  </div>
  <div class="Testimonial__Card">
    <h3>"</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    <img src="logo.svg" alt="">
  </div>
  <div class="Testimonial__Card">
    <h3>"</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industryLorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    <img src="logo.svg" alt="">
  </div>

</div>

<style>
  .Testimonials {
    background-color: #191E29;
    display: flex;
    justify-content: space-evenly;
    padding: 8vh 6.8vw;
  }
  .Testimonial__Card {
    width: 350px;
    background-color: white;
    border-radius: 15px;
    padding: 2vh 3vw;
  }
  .Testimonial__Card h3 {
    color: #D0142B;
    font-size: 48px;
  }
  .Testimonial__Card p {
    margin-top: .5vh;
    margin-bottom: 2vh;
  }
</style>