<div class="video">
  <div class="video__youtube">
    <iframe width="720" height="540" src="https://www.youtube.com/embed/C2yC0O2i36w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
</div>

<style>
  .video {
    background-image: url(backgroundmap.svg);
    background-size: cover;

  }
  .video__youtube {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  iframe {
    margin-top: -60px;
    margin-bottom: 60px;
  }
</style>